/* The whole wofi window */
#window {
  border: 1px solid #333333; /* Sway palette: unfocused/border */
  background-color: #222222; /* Sway palette: unfocused/background */
  font-family: system-ui, sans-serif;
}

/* Search input */
#input {
  margin: 4px;
  border: 1px solid #222222; /* Sway palette: unfocused/background */
  border-radius: 0;
  color: #ffffff; /* Sway palette: unfocused/text */
  background-color: #333333; /* Sway palette: unfocused/border */
  font-size: 14px;
}

#input:focus {
  background-color: #285577; /* Sway palette: focused/background */
}

/* Box that contains search bar and entries */
#outer-box {
  padding: 4px;
}

/* Scrolled window containing all the entries */
#scroll {
  margin: 4px 0px;
  font-size: 14px;
}

/* Box containing all entries */
#inner-box {
  margin: 0 4px;
  color: #888888; /* Sway palette: unfocused/text */
}
/* Box containing all entries (not sure what's the difference to #inner-box) */
#entry {}

/* A single entry */
.entry {
  padding: 2px 4px;
}

/* A single entry, selected */
#entry:selected {
  outline: none;
  color: #ffffff; /* Sway palette: focused/text */
  background-color: #285577; /* Sway palette: focused/background */
}
